# Assignment 8: Data visualization

Data Visualization I
1. Use the inbuilt dataset 'titanic'. The dataset contains 891 rows and contains information
about the passengers who boarded the unfortunate Titanic ship. Use the Seaborn library
to see if we can find any patterns in the data.
2. Write a code to check how the price of the ticket (column name: 'fare') for each
passenger is distributed by plotting a histogram.

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

# Titanic Dataset

In [ ]:
data=sns.load_dataset('titanic')
data.head()

In [ ]:
data.info()

In [ ]:
data.dtypes.value_counts()

In [ ]:
data.shape

In [ ]:
data.dtypes

  Data types - 
- Quantitative variables : 6 (Passenger Id is not considered here)
- Qualitative variables : 6

## Checking for null values

In [ ]:
data.isnull().sum()

In [ ]:
null_v=data.isnull().sum()
null_v.plot(kind='bar', title='Null values in dataset',xlabel='Column Name',ylabel='No of null values')
plt.show()

In [ ]:
data.dtypes

## Visualizing the qualitative variables in dataset

In [ ]:
columns=['sex','embarked','pclass','sibsp','parch']
for col in columns:
    survival_rate = pd.crosstab( data[col], data['survived'],margins=True,normalize=True)
    print('Survival Rate\n')
    print(survival_rate.applymap(lambda x:x*100))

    # the original dataset graph
    sns.countplot(data=data,x=col)
    plt.title('Count plot for '+col+' variable')
    plt.show()


    #plot in comparision with the sirvived graph
    sns.countplot(data=data, x=col, hue='survived')
    plt.title('Count plot for '+col+' variable wrt to Survival')
    plt.show()

## Histogram

In [ ]:
data.columns

In [ ]:
data['age'].describe()

In [ ]:
sns.histplot(data=data,x='age',kde=True )
plt.title('Histogram for Age Attribute')
plt.show()

Distribution of Ages wrt Survival

In [ ]:
sns.displot(data=data,x='age',col='survived',kde=True)
plt.show()

Distribution of Ages wrt Passenger Class

In [ ]:
sns.displot(data=data,x='age',col='pclass',kde=True)
plt.show()

In [ ]:
data['fare'].describe()

In [ ]:
plt.figure(figsize=(15,4))
sns.histplot(data=data,x='fare',kde=True,color='blue')

plt.title('Histogram for Fare Attribute')
plt.show()

In [ ]:
sns.boxplot(data=data,y='fare',x='pclass')
plt.show()

In [ ]:
sns.boxplot(data=data,y='fare',x='survived' )
plt.show()

In [ ]:
plt.figure(figsize=(15,4))
sns.scatterplot(data=data,x='age',y='fare',hue='survived')
plt.show()